:root {
  --body-bg: #ffffff;
  --card-bg: #f8fafc;
  --feature-bg: #e5e7eb;
  --font-header-color: #121826;
  --per-month-color: #4d556233;
  --card-popular-bg: #121826;
  --get-started-popular-bg: #7c4f1e;
  --blue-color: #263fa9;
  --p-header-color: #4d5562;
  --heading-size: 2rem;
  --heading-price: 4rem;
  --body-text-size: 1rem;
}

html {
  font-family: "Be Vietnam Pro", sans-serif;
}

body {
  background-color: var(--body-bg);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p,
h3 {
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./resources/bg-pattern.png);
}

header h1 {
  font-size: var(--heading-size);
  color: var(--font-header-color);
  text-align: center;
  font-weight: 700;
}

header p {
  font-size: var(--body-text-size);
  color: var(--p-header-color);
  width: 28rem;
  text-align: center;
}

.card-header,
.empty {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing-grid {
  display: grid;
  grid-template-columns: 220px repeat(4, minmax(0, 1fr));
  max-width: 1200px;
  margin: 0 auto;
  gap: 0;
}

.features-card {
  padding: 0;
  margin: 0;
}

.features,
.feature-data {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--per-month-color);
}

.features {
  justify-content: flex-start;
  padding-left: 1rem;
  color: var(--font-header-color);
  font-weight: 600;
  font-size: var(--body-text-size);
}

.features:last-of-type {
  border-bottom-left-radius: 10px;
}

.features-stripe {
  background-color: var(--card-bg);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.pricing-card.popular {
  background-color: var(--card-popular-bg);
  color: var(--body-bg);
  border-radius: 10px;
}

.card-header h3 {
  font-size: var(--body-text-size);
  color: var(--blue-color);
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.price {
  font-size: var(--heading-price);
  font-weight: 600;
  color: var(--font-header-color);
}

.month {
  font-size: var(--body-text-size);
  color: var(--p-header-color);
  font-weight: 400;
}
